$contentBackground: #fff;
$fontFamily: 'Hind',
sans-serif;
$headerBg: url('../img/m-h-day.jpg');
$buttonBg: #659100;
$markColor: #199FC3;
$mainColor: #21232F;
$secondaryColor: #c0c3af;
$bannerBg: linear-gradient(to right, #639316, #2c5adb);
$cardColor: #21232F;
$fonts: ("Source": 'Source Sans Pro', "Hind": 'Hind'
);