$contentBackground: #21232E;
$fontFamily: 'Fresca',
sans-serif;
$headerBg: url('../img/m-h-night.jpg');
$buttonBg: #E6AB02;
$markColor: #FF4E33;
$mainColor: #fff;
$secondaryColor: #c0c3af;
$bannerBg: linear-gradient(to right, #DCA107, #942E51);
$cardColor: #3B3F50;
$fonts: ("Source": 'Source Sans Pro', "Fresca": 'Fresca'
);