button {
    background-color: grey;
    border-radius: 10px;
    outline: none;
    border: none;
}

#newPage,
#editPage {
    display: none;
}

.mainPageWrap {
    display: flex;
    justify-content: space-between;
}

#addNew {
    width: 100px;
    height: 50px;
    margin: auto;
}

h1 {
    text-align: center;
}

#termValue {
    font-style: bold;
}

#termDefenitionWrap {
    display: none;
    margin-bottom: 30px;
}

.setNameWrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

#removeButton {
    margin-left: 10px;
}